@model PayxApi.DTOs.CreatePayLevelRequestModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/register.css">
</head>
<body>
    <div class="container">
        <div class="form-body">
            <div class="upper">CREATE ALLOWANCE</div>
            <div class="lower">
                <form asp-action="CreatePayLevel">
                        <div class="row">
                            <div class="input">
                                <div><label for="">PayLevel Name: </label></div>
                                <div><input asp-for="LevelName" id="allowance-name" class="tInput" required></div>
                            </div>
                            <div class="input">
                                <div><label for="">Description: </label></div>
                                <div><input asp-for="Description" id="amount" class="tInput" required></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <div><label for="">BasicSalary: </label></div>
                                <div><input asp-for="BasicSalary" id="allowance-name" class="tInput" required></div>
                            </div>
                            <div class="input">
                                <div><label for="">TaxPercentage: </label></div>
                                <div><input asp-for="TaxPercentage" id="amount" class="tInput" required></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input">
                                <div><label for="">Allowance: </label></div>
                                <div><select asp-for="AllowanceIds" asp-items="ViewBag.Allowance" id="allowance-name" class="tInput" required></select></div>
                            </div>
                            @* <div class="input">
                                <div><label for="">TaxPercentage: </label></div>
                                <div><input asp-for="TaxPercentage" id="amount" class="tInput" required></div>
                            </div> *@
                        </div>
                        <div class="submit"><input type="submit" value="Register"></div>
                </form>
            </div>
        </div>
    </div>
    <script src="./scripts/register.js"></script>
</body>
</html>