@{
    Layout = "_PayxLayout";
}
<head>
    <style>
        .my-index{
            border: 1px solid red;
            background-image: url("");
            background-color: blue;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    </style>
</head>
<body>

<div class="my-index">
    <buttton class="my-btn"></buttton>
    <buttton class="my-btn"></buttton>
    <buttton class="my-btn"></buttton>
</div>
    
</body>